
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom narrow container */
.container-narrow {
    margin: 0 auto;
    max-width: 760px;
}

.job-listing {
    font-size: 18px !important;
}

.footer {
    padding-top: 30px;
}
