{% extends "base.html" %}
{% block content %}
    <div class="container-narrow">
        <div class = "page-header">
            <h1>Data Science Jobs</h1>
        </div>
        <p class = "lead">
        This website strives to help data science professionals to find the best jobs from all around the world. Have a look around. Subscribe to our mailing list to automatically receive great jobs directly to your inbox. </p>
        <p class = "lead">
        Or, if you're an employer looking for a top-class data science talent &ndash; submit an opening to out listing!
        </p>
        <hr />
        {% for job in jobs %}
        <p>
            <h2><strong>{{ job.company }}</strong> / {% if job.id == 4 %}<mark>{% endif %}<a href="/job/{{ job.id }}">{{ job.title }}</a>{% if job.id == 4 %}</mark>{% endif %} <small>in {{ job.location }}</small></h2> 
        </p>
        {% endfor %}
    </div>
{% endblock %}
