{% extends "base.html" %}
{% block title %}
<title>{{ job.title }} at {{ job.company }} &ndash; Data Science Jobs</title>
{% endblock %}
{% block content %}
<script type="text/javascript" charset="utf-8">
    function timeSince(date) {
        var seconds = Math.floor(((new Date().getTime()/1000) - date))
        var interval = Math.floor(seconds / 31536000);
        if (interval >= 1) {
            return interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval >= 1) {
            return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval >= 1) {
            return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval >= 1) {
            return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval >= 1) {
            return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";
    }
</script>
<div class = "container-narrow">
    <div class = "page-header">  
        <h1>{{ job.title }}</h1>
    </div>
    {% if job.company_link != "" %}
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="http://{{ job.company_link }}" target = "_blank">Company website</a> /
    {% endif %}
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ job.location }} / 
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Published on {{ job.publish_date.strftime("%b %d, %Y") }}
    <h2>Job summary</h2>
    <p class = "text-justify">{{ job.summary | safe }}</p>
    <h2>Job requirements</h2>
    <p class = "text-justify">{{ job.requirements | safe }}</p>
    <h2>About company</h2>
    <p class = "text-justify">{{ job.about | safe }}</p>
    <h2>Application info</h2>
    <div class = well>
        {{ job.apply_info }}
    </div>
</div>
{% endblock %}
