{% extends "base.html" %}
{% block title %}
    <title>{{ job.title }} &ndash; Data Science Jobs</title>
{% endblock %}
{% block content %}
<div class = "container-narrow">
    <div class = "page-header">  
        <h1><strong>Post preview</strong></h1>
    </div>
    <p class = "lead">
        Here's what you post is going to look like in our listing. Depending on your settings, it might be <mark>highlighted</mark> and featured in our newsletter. Newsletter option, however, does not impact the look of the post.
    </p>
    <p>
        <h3><strong>Some Company</strong> / <a href="#">Chief Data Scientist</a><small> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Mountain View, CA or Seattle, WA</small></h3>
    </p>
    <p>
    <h3><strong>{{ job.company }}</strong> / {% if job.highlighted %}<mark>{% endif %}<a href="#">{{ job.title }}</a>{% if job.highlighted %}</mark>{% endif %} <small> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ job.location }}</small></h3>
    </p>
    <p>
        <h3><strong>Startup Co.</strong> / <a href="#">Machine Learning Engineer</a><small> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Remote</small></h3>
    </p>
    <div class = "page-header">  
        <h1>{{ job.title }}</h1>
    </div>
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{{ job.companylink }}" target = "_blank">Company website</a> /
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ job.location }} / 
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Published on {{ job.date }}
    <h2>Job summary</h2>
    <p class = "text-justify">{{ job.summary }}</p>
    <h2>Job requirements</h2>
    <p class = "text-justify">{{ job.requirements }}</p>
    <h2>About company</h2>
    <p class = "text-justify">{{ job.about }}</p>
<br />
    <div class="btn-group" role="group" aria-label="apply-group">
        <a href="{{ job.applylink }}" type="button" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Apply to this position
        </a>
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                Copy URL for a friend
        </button>
    </div>
</div>
{% endblock %}
